*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}
header{
background-color: #0f172a;
color: white;
width: 100%;
padding: 80px;
}
.cabecalho-itens {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
padding: 0 20px;
}


.img_foto {
width: 400px;   
height: auto;   
}


.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font-size: 50px;
}


.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-left: 100px;
}
.sociais{
display: inline-block;
width: 450px;
background: #1e293b;
padding: 10px 20px;
border-radius: 20px;
border: 2px solid #d4af37;
color: white;
font-weight: bold;
font-size: 18px;
}
.banner1{
background-color: #0f172a;
padding: 0;
margin: 0;
}

.banner1 img{
width: 100%;
display: block;
}
.estudante_titulo{
padding: 50px;
text-align: center;
color: #d4af37;

}
.estudante-nome{
text-align: center;
color: white;
}
.estudante-imagem{
width: 120px;
}

.estudante{
background-color: #0f172a;
}
.estudante-imagem{
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 15px;
border: 3px solid #d4af37;
}
.estudante-div{
text-align: center;
width: 180px;
background: #1e293b;
border: 4px solid #d4af37;
border-radius: 20px;
padding: 15px;
}
.estudantes_todos{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 20px;
justify-items: center;
}

.instrumentos{
background-color: #0f172a;
text-align: center;
padding: 50px;
}

.texto-instrumentos{
color: white;
margin-bottom: 30px;
font-size: 18px;
}

.instrumentos-todos{
display: flex;
justify-content: center;
gap: 50px;
}

.instrumento img{
width: 250px;
border: 3px solid #d4af37;
border-radius: 15px;
transition: 0.3s;
}

.instrumento img:hover{
transform: scale(1.05);
}

.instrumento h3{
color: white;
margin-top: 10px;
}

.escola{
background: linear-gradient(to right, #d4af37, #b8860b);
color: white;
padding: 24px 0;
text-align: center;
}
.escola-titulo{
padding: 50px;
text-align: center;
}

