*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
}
header{
background-color: #2959ad;
color: white;
width: 100%;
padding: 80px;
}
.cabecalho-itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}


.img_foto {
  width: 400px;   
  height: auto;   
}


.titulo_site{
padding: 50px;
text-align: center;
width: 50%;
font-size: 50px;
}


.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-left: 100px;
}
.sociais{
display:  inline-block;
background: white;
padding: 10px 20px;
border-radius: 20px;
color: black;
font-weight: bold;
}
.banner1{
display: flex;
justify-content: center;
}
.estudante_titulo{
padding: 50px;
text-align: center;

}
.estudante-nome{
text-align: center;
}
.estudante-imagem{
width: 120px;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
background-color: #1591dc;
}

.estudante-div{
text-align: center;
padding: 24px 0;
width: 180px;
}
.estudantes_todos{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 20px;
justify-items: center;
}
.escola{
background-image: linear-gradient(#40A2E3,#7FC2EF);
color: white;
display: flex;
justify-content:center;
padding: 24px 0;
text-align:center;
display:block;
}
.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}
